{% extends "base.html" %}
{% block title %}ABC Media{% endblock %}
{% block content %}
<style>
    a {
        text-decoration: none;
        color: lightseagreen;
    }
    a:hover {
       text-decoration: underline;
       color: lightseagreen;
    }
</style>
{% include "nav.html" %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="home-page mx-5">
            {% if msg is defined %}
                <div class="alert alert-danger" role="alert">
                {{ msg }}
                </div>
            {% endif %}
            {% if digital_displays is defined %}
                <h2 class="text-center p-3">Digital Displays with matched criteria!</h2>
                <div class="data-table m-3">
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">serialNo</th>
                            <th scope="col">schedulerSystem</th>
                            <th scope="col">modelNo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in digital_displays %}
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ result[0] }}</td>
                                    <td>{{ result[1] }}</td>
                                    <td>
                                        <a href="{{ url_for('model_index', modelNo=result[2]) }}">{{ result[2] }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}
