{% extends "base.html" %}
{% block title %}ABC Media{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ABC Media</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
        <!--
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        -->
        <form action="/logout" method="post">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Log Out</button>
        </form>
    </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="home-page mx-5">
            {% if msg is defined %}
                <div class="alert alert-danger" role="alert">
                {{ msg }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}
