<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('login') }}">ABC Media</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('search_displays') }}">Search (Digital Displays) <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('create_display') }}">Create Digital Display <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('create_model') }}">Create Model<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('displays_and_models') }}">Displays & Models<span class="sr-only"></span></a>
            </li>
        </ul>
        <form action="/logout" method="post">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Log Out</button>
        </form>
    </div>
</nav>
